
<h1>Create new @Model.GetName() task</h1>
<hr>


<form action="/@Model.GetId()/new-task" method="post">
  <label for="description">Task Description:</label>
  <input type="text" name="description">
  <label for="deadline">Deadline:</label>
  <input type="date" name="deadline" min="2017-02-21">
  <button type="submit">Submit</button>
</form>


<a href="/all_tasks">View all tasks</a>
<a href="/cleared">Clear All</a>
