<h1>Create new task</h1>
<form action="/new_task" method="post">
  <label for="description">Task Description:</label>
  <input type="text" name="location-taken">
  <label for="deadline">Deadline:</label>
  <input type="date" name="caption">
  <button type="submit">Submit</button>
</form>
<a href="/all_tasks">View all photos</a>
<a href="/cleared">Clear All</a>
