<h1>Create new Category</h1>
<form action="/new-category" method="post">
  <label for="category-name">Category Name:</label>
  <input type="text" name="category-name">
  <button type="submit">Submit</button>
</form>
<ul>
    @foreach (var item in @Model)
    {
        <a href="/@item.GetId()/create-task"><li>@item.GetName()</li></a>
    }
</ul>

<a href="/category-cleared">Clear All Categories</a>
<a href="/sorted-tasks">View sorted tasks</a>
